[submodule "Soft_STM32/ext/libElectrobotH755"]
	path = Soft_STM32/ext/libElectrobotH755
	url = https://github.com/CRLG/libElectrobotH755
[submodule "Soft_STM32/ext/CppRobLib"]
	path = Soft_STM32/ext/CppRobLib
	url = https://github.com/CRLG/CppRobLib
[submodule "Simulia"]
	path = Simulia
	url = https://github.com/CRLG/LABOTBOX
[submodule "Soft_STM32/ext/CppRobLibSTM32"]
	path = Soft_STM32/ext/CppRobLibSTM32
	url = https://github.com/CRLG/CppRobLibSTM32
